.navbar_outer{
    height: 100px;
    width: 100%;
    background: rgba(255,255,255,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}




.logo_container{
    margin-left: 50px;
    display: flex;
    align-items: center;
}



.logo_container h2{
    font-size: 26px;
}

.connect_wallet_container{
    margin-right: 50px;
}

.connect_wallet_container button{
    font-weight: 500;
}

.logo{
    width: 70px;
}



.wallet{
    padding: 15px 30px;
    border-radius: 10px;
    outline: none;
    border:none;
    background: #20A7DB;
    color: #fff;
    font-size: 16px;
    font-weight: bold !important;
}


@media(max-width:500px){
    .wallet{
        padding: 8px 20px;
        border-radius: 10px;
        outline: none;
        border:none;
    }

    .logo_container h2{
        font-size: 18px;
    }
}